<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".get_help" %>
  <%= link_to t(".rt_help"), "http://www.railstutorial.org/help" %></a>.
  <%= t ".to_get_help" %>
  <em><%= link_to t(".rort"), "http://www.railstutorial.org/book" %></em>
  <%= t ".book" %></a>.
</p>
