<footer class="footer">
  <small>
    <%= t ".the" %><%= link_to t(".rort"), "http://www.railstutorial.org/" %></a>
    <%= t ".by" %><%= link_to "Michael Hartl", "http://www.michaelhartl.com/" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
